body.VHDeS{
    background-image: url(Täljemap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
}
.box{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0 4px 10px black;
}
body.rätt{
    background-color: burlywood;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.img{
    width: 500px;
    position: center;
    height: auto;
    display: block;
}
.flex{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
button{
    width: 250px;
    height: 50px;
    display: block;
    margin: 0.5rem auto;
    background-color:mintcream;
    outline: none;
    border: none;
    box-shadow: 0 4px 10px black;
    color: black;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
}
.box1{
    background-color: white;
    border-radius: 30px;
    width: 100px;
    height: 90px;
    box-shadow: 0 4px 10px black;
}